@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
}

p {
    margin-bottom: 0;
}

h5 {
    text-decoration: underline;
}

.flex-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* padding: 2rem; */
    gap: 1rem;
}

.left,
.right {
    border-right: 1px solid black;
    flex-basis: 1;
}



.shortcut-key-label {
    display: inline;
    color: black;
}

.shortcut-key-input {
    width: 2.5rem;
    padding: 1rem .75rem;
    border-radius: 6px;
    border: 0.8114px solid #dee2e6;
}